body {
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
}

nav ul {
    width: 248px;
    margin: 0;
    padding: 50px;
    height: 600px;
    margin: 0;
    display: block;
    float: left;
    padding-right: 100px;
}

nav ul h3#sub {
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3636;
    margin: 0.5em 0 0;
    opacity: 0.7;
}

nav ul h2 {
    color: white;
    font-family: "Noto Sans", sans-serif;
    /* font-size: 22px; */
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

nav ul li {
    display: block;
    padding: 15px;
    transition: background-color .2s;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: grey;
}

nav ul li:active {
    background-color: dimgrey;
}



div.card {
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 600px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 400px;
    display: inline-block;
}

.card-header {
    color: black;
    font-size: 2em;
}

.card-content {
    font-size: 1.2em;
}

@media only screen and (max-width: 479px) {
    div.card {
        width: 10%;
    }
}

ul li {
    padding: 10px;
}
